/*////////HEADER////// */
.text-on-img {
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 700px;
    left: 50%;
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    display: block;
    max-width: 1000px;
    transform: translate(-50%,-50%);

}
.text-on-img:hover{
    transition: all .8s;
    color:rgb(201, 240, 241);    
    background-color: rgba(97, 110, 97, 0.4); 
    border: 3px solid #cdf5f7;  
}
.text-on-img:not(:hover){
    transition: all .9s;
}
/*////////////////////// SecTion//////////////////////// */
.section
{
    padding:40px 0;
}
.tieu-de
{
    margin-left: 20px;
    font-size: 50px;
    font-weight: bolder;
}
div.noi-dung-anh
{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
}
.anh-gioi-thieu
{
    width:100%;
    height: 500px;
    
}
div.noi-dung-anh > div.tong-noi-dung
{
    width: 55%;
}
div.noi-dung-anh > div.include-figure
{
    width: 45%;
}
div.include-figure
{
    margin-top: 45px;
}
figure
{
    width: 100%;
}
.tong-noi-dung 
{
    padding-top: 50px;
    font: 400 25px/1.3 'Dancing Script', Helvetica, sans-serif; 
    margin-right: 80px;
}
.img-effect
{
    width: 100%;
}
/* */
.small-banner 
{
    width:100%;
    height: 500px;
    opacity: 0.5;
}
/* */ 

.header-text
{
    font-weight: bolder;
    text-transform: capitalize;
}
.edit-card
{
    display: flex;
    justify-content: center;
    background-image: url("image-gioithieu/banh_cheese_2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.edit-card > div
{
    border: 4px solid rgb(154, 248, 240);
    width: 20%;
    margin:0.5%;
    padding-top: 50px;
     padding-left: 10px;
     padding-right: 10px; 
     border-radius: 40px;
     margin-bottom: 10px;
    text-align: center;
    background-color: white;
    z-index: 10;
}
.edit-card > div:hover
{
    background-color: transparent;
    color: white;
    transition: all .9s;
}
.edit-card > div:not(:hover)
{
    transition: all 1.1s;
}
.text-after
{
    padding-bottom: 50px;
    font-size: 20px;
}
.kich-co
{
    font-size: 50px; 
}
/* Phần mô hình phương tây */ 
.anh-tiem-banh 
{
    animation: doianh ease-in-out 10s infinite;
    height: 600px;
    width: 1100px;
    margin: 0px auto;
    border:30px solid black;
    border-radius: 30px;
    background-size: 100%;
    background-repeat: none ; 
}
.truoc-phan-mo-hinh-phuong-tay
{
    background-color: #1a1a1a;
}
.phan-mo-hinh-phuong-tay
{
    display: flex;
    background-color: #1a1a1a;
}
.phan-mo-hinh-phuong-tay > .mo-hinh-phuong-tay-phia-trong
{
    width: 50%;
    margin:100px 50px 50px 100px;            
}
.phan-mo-hinh-phuong-tay > .mo-hinh-phuong-tay-phia-trong > h3 
{
    font-size: 50px;
    color:rgb(201, 10, 74);
    margin-bottom: 20px;
    text-transform: capitalize;
}
.phan-mo-hinh-phuong-tay > .mo-hinh-phuong-tay-phia-trong > p
{
    font-size: 25px;
    color:white;
}

@keyframes doianh
{
    0%
    {
        background-image:url("image-gioithieu/ảnh\ tiệm\ bánh\ 1.jpg");
        background-size: cover;             
    }
    25% 
    {
background-image: url("image-gioithieu/ảnh\ tiệm\ bánh\ 2.jpg");
        background-size: cover;
    }
    50%
    {
        background-image: url("image-gioithieu/ảnh\ tiệm\ bánh\ 3.jpg");
        background-size: cover; 
    }
    100%
    {
        background-image: url("image-gioithieu/ảnh\ tiệm\ bánh\ 4.jpg");
        background-size: cover;
    }
}
/* //////////////////Phần sản phẩm/////////////////////////////////*/
.some-cake-of-france
{
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-style: italic;
}
.line-long::after
{
    content: " ";
   height: 1px;
   width: 60%;
   background-color: #9C9C9C;
   display: block;
   margin: 100px auto 50px;
}
.image-about-cake > img
{
    width: 100%;
     display: block;
     height:auto;
}
.image-about-cake
{
    position: relative;
    width: 500px;
    background-color: #9C9C9C;
    margin: 10px;
}
.image-about-cakes
{
    display: flex;
    justify-content: center;
    padding:20px;   
}

.overlay
{
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #5f5f5f;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;           
}
.image-about-cake:hover .overlay {
width: 100%;
left: 0;
background: rgb(0, 0, 0); 
background: rgba(0, 0, 0, 0.5);    
}
.text-after-image-cake
{
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
white-space: nowrap;
}

.header-name-of-nation
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    font-style: italic;
}
.header-name-of-nation::after
{
    content: " ";
   height: 2px;
   width: 15%;
   background-color: #9C9C9C;
   display: block;
   margin: 10px auto 50px;
}
.mot-so-loai-banh-kem > h1
{
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;           
}
.mot-so-loai-banh-kem > h1::after
{
   content: " ";
   height: 1px;
   width: 25%;
   background-color: #f01d1d;
   display: block;
   margin: 10px auto 50px;      
}
/* //////////////////////Phần feedback////////////////////////////////////////////*/
.nen-feedback
{
    background-color: #f4ebe6;
    padding-bottom: 100px;
}
.nen-feedback > div
{
    display: flex;
    justify-content: center;
}
.nen-feedback > h1
{
    text-align: center;
    margin-bottom:100px;
    padding-top: 100px;
}
.checked
{
    color:orange;
}
.full-card
{
    border: 1px solid black;
    background-color: white;
    width: 22%;
    margin: 1%;
    border: 1px solid rgb(145, 143, 143);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    margin-bottom: 50px;    
    padding:30px; 
}
.full-card:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
border: 1px solid rgb(145, 143, 143);
    position: relative;
    transform: scale(1.1);
    transition: transform 0.8s;
}
.full-card:not(:hover)
{    
    transition: transform 0.75s;
}
.full-card > p
{
        font-size: 20px;
        text-align: left;
        font-weight: 400;             
}
.vote-star
{
    text-align: left;
    margin-bottom: 20px;
    margin-top: 50px;          
}
.anh-icon > img
{
    border-radius: 50%;
    border: 3px solid rgb(126, 126, 126);        
}
.anh-icon
{
    display: flex;  
}
.ten-va-thanh-pho
{
    margin-left: 20px;
    
}
