*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section{
    background-color:#acd1f3;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-web{
    width: 70%;
}
/* phần thông tin bên trái */
div.all-product-items{
    display: flex;
}
div.product-item-left{
    width: 30%;
}
ul{
    padding: 0 !important;
}
a{
    text-decoration: none !important;
}
ul.menu{
    border: 2px solid #506bff;
    margin: 0 auto;
    list-style-type: none;
    background-color: white;
}
ul.menu > li > a{
   font-size: 25px;
    color: black;
   padding: 5px 10px;
   display: block;
}
ul.menu > li:first-child > a{
    background-color: #506bff;
    font-weight: bold;
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
}
ul.menu > li:first-child > a:hover{
    background-color:   #506bff;
    color: white;
}
ul.menu > li:first-child > a > span:first-child{
   border-right: 1.5px solid white;
   display: block;
   padding: 10px;
   margin-right: 10px;
}
ul.menu > li > a:hover{
    background-color:#abb7fc;
  transition: all 0.5s ease 0s;
}
/* định dạng cho phần acticle */
article{
    padding-top: 20px;
}
.article-product{
    margin: 0 auto;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #506bff;
}
figure.article-item{
    width: 45%;
    margin: 2%;
    text-align: center;
    position: relative;
}
figure.article-item img{
    width: 100%;
}
figure.article-item  h3{
    background-color: #506bff;
    position: absolute;
    padding: 3px 7px;
    font-size: 20px;
    top :0;
    left: 0;
}

/* phần thông tin bên phải */
.product-item-right{
    margin: 0;
   
}
.add-color{
    background-color: #506bff !important;
    color: white !important;
}
div.center-picture img{
    width: 100%;
}
div.h1 > h1{
    padding-bottom: 10px;
    font-size: 35px;
    margin: 0;
    color: white;
    text-shadow: 2px 3px 4px deepskyblue;
}

div.three-product-item{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
}
div.product-item{
    width: 30%;
    padding: 15px;
    position: relative;
    margin: 1%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px;
}
div.product-item > figure {
    width: 90%;
    margin: 0 auto;
}
div.product-item > figure img{
    width: 100%;
}
div.product-item > figure > figcaption{
    text-align: center;
}
div.product-item > figure > figcaption > a{
    padding: 10px 15px;
   color: black;
   font-weight: bold;
   font-size: 25px;
}
div.product-item > figure > figcaption > a:hover{
    color: tomato;
   text-decoration:underline;
   transition:  all 0.6s ease 0s;
}
div.product-item:hover{
    transform: scale(1.05);
}
b{
    display: block;
   -ms-flex: 1;
   flex: 1;
   height: 2px;
   opacity: 0.7;
   background-color: currentColor;
}
div.starts{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
div.product{
    padding: 10px 0px 15px;
    text-align: center;
}
div.product > h2{
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}
div.icon-item{
    font-size: 25px;
}
div.icon-item > i{
    padding: 10px 50px;
    border: 2px solid black;
}
div.icon-item :hover{
    color: red;
    transform: scale(1.2);
    background-color: rgb(241, 241, 241);
}
div.starts:hover{
    color: rgb(255, 230, 0);
}

/*định dạng cho phần thông tin sản phẩm bị ẩn */
div.icon-item h3{
    color: white;
    background-color: black;
    position: absolute;
    font-size: 12px;
    z-index: 30;
    padding: 5px 7px;
    font-weight: 300;
    bottom: 70px;
    opacity: 0;
    transition: all .6s ;
    border-radius: 5px;
}
div.icon-item h3::after{
    content: " ";
    border-width: 8px;
    border-style: solid ;
    border-color: black transparent transparent transparent ;
   position: absolute;
   bottom: -15px;
   right: 40%;
}

h3.two{
    left: 40%;
}

.fa-shopping-cart:hover ~ h3.two{
    opacity: 1;
}

@keyframes move-top{
    form{
        transform:translateY(0px)
    }to{
        transform:translateY(-5px)
    }
}
.move-top{
    animation: move-top .5s forwards;
}
.c4-izmir {
 display: block !important;

}
.fa-plus{
transition-duration: 0ms !important ;
}
.fa-plus:hover{
  color:deeppink;
}

/* định dạng cho phần nút bấm chuyển tiếp trang web */
div.all-nut-bam{
   background-color: #acd1f3;
    align-items: center;
    margin-left: 20px;
}
div.nut-bam{
    display: flex;
    margin: 0;
    padding: 0;
}
div.all-nut-bam a{
    display: block;
    color: black;
    background-color: white;
    font-size: 30px;
    padding: 10px 18px;
    border: 1px solid deepskyblue;
    margin: 0.3%;
    transition: all .5s ;
}
div.nut-bam a:first-child{
    background-color: deepskyblue;
    color: white;
}
div.all-nut-bam a:hover{
    background-color: deepskyblue;
    color: white;
}
div.chuyen-tiep{
    display: flex;
    margin: 0;
    padding: 0;
}
div.name-product > h2{
    font-size: 22px;
    font-weight:bold;
}
div.info{
    height: 40px;
    width: 100%;
    background-color: #98cbfa;
  }
  div.mo_ta{
    height: 40px;
    width: 100%;
    background-color: #98cbfa;
  }
  .carousel-inner img {
    width: 50%;
  }
  #slideshow {
    overflow: hidden;
    height: 710px;
    width: 728px;
    margin: 0 auto;
  }
 .slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 14s ease infinite;
  }
 .slide {
    float: left;
    height: 510px;
    width: 728px;
  }
 @-webkit-keyframes slide {
    20% {margin-left: 0px;}
    30% {margin-left: -728px;}
    50% {margin-left: -728px;}
    60% {margin-left: -1456px;}
    80% {margin-left: -1456px;}
  }