.wrapper {
    width: 989px;
    height: 850px;
    background-color: skyblue;
    border: 1px solid black;
    margin: auto;
}

.header {
    height: 150px;
    width: 100%;
    background-color: rgb(253, 191, 191);
    border-bottom: 1px solid black;
    margin: 0px;
}

.menu {
    height: 50px;
    width: 989px;
    background-color: rgb(250, 255, 224);
    border-bottom: 1px solid black;
}

.nav {
    height: 500px;
    width: 30%;
    background-color: rgb(129, 213, 235);
    border-bottom: 1px solid black;
    float: left;
}

.section {
    height: 500px;
    width: 70%;
    background-color: rgb(144, 228, 210);
    border-bottom: 1px solid black;
    float: left;
}

.s1 {
    height: 500px;
    width: 50%;
    background-color: rgb(226, 168, 223);
    border-bottom: 1px solid black;
    float: left;
}

.s2 {
    height: 500px;
    width: 50%;
    background-color: rgb(188, 162, 211);
    border-bottom: 1px solid rgb(255, 255, 255);
    float: left;
}

#ten {}